*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NetbeansProjects/HelloWorld/nbproject/private/
/NetbeansProjects/HelloWorld/build/
/NetbeansProjects/HelloWorld/dist/
/NetbeansProjects/UnitTesting/nbproject/private/
/NetbeansProjects/UnitTesting/build/
/NetbeansProjects/Prac3-RMI-ObjectFactory/nbproject/private/
/NetbeansProjects/Prac3-RMI-ObjectFactory/dist/
/NetbeansProjects/Prac3-RMI-ObjectFactory/build/
/NetbeansProjects/nbproject/private/